html {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

body{
	color: #555;
	font-size:12px;
	font-family: Verdana;
}
textarea.text-input , input.text-input {
	width: 100%;
	float: right;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	border: solid 1px #BDBDBD;
	color: #555;
	height:34px;
	font-size: 12px;
}

textarea{
	width: 100%;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #BDBDBD;
}
input.small {
	width: 35%;
	float: left;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	border: solid 1px #BDBDBD;
	color: #555;
	height:34px;
	padding:3px;
	font-size: 12px;
}
select {
	border-radius: 4px;
	background: #ffffff;
	-webkit-appearance: none;
	border: solid 1px #BDBDBD;
	color: #555;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
	height: 34px;
}
td.field{
	font-size: 16px;
	color:#000;
	padding-top:5px;
	padding:5px 10px 0;
}

td.value{
	font-size: 12px;
	color: #555;
	padding-bottom: 10px;
	padding:0 10px 10px;
	border-bottom:1px solid #555;
}
.tableTitle {
	background: #D2F0F4;
	color:#645D57;
	font-size:12px;
	padding:5px;
	border-radius: 2px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 150px;
    margin: 0 auto;
   /* opacity:0.7;*/
    text-align:center;
	/*filter:alpha(opacity=70); /* For IE8 and earlier */
}
table.boxes{
	border: solid 1px #d4d4d4;
	background:#F6F4F0;
	color: #444444;
	border-radius: 2px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px;
    margin: 5px 0;
}
table tr td, tr th{
	font-size:12px;
	color: #444444;
}
.staticBar{
	-webkit-box-shadow: 0px 1px 3px rgba(59,57,59,1);
	-moz-box-shadow:  0px 1px 3px rgba(59,57,59,1);
	box-shadow: 0px 1px 3px rgba(59,57,59,1);
	width:100%;	
	position:fixed;
	height:35px;
	margin: 0 auto;
	top:0;
	background-color:#D8D8D8;
	left:0;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	z-index:99;
}

.floatMenu {
	height:80px;
	width:50%;
	position:fixed;
	top:50px;
	background-color:#F8E0E0;
	border:1px solid #F5A9A9;
	float:left;
	z-index:9999;
	display:none;
	
}
hr {
	border:1px solid #F5A9A9;
}
.floatContent{
	padding:5px;
	font-size:14px;
	font-family: Verdana;
	color:#3B0B0B;
	left:0;
}
.bordered {
	border: solid #ccc 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #C6C5C5; 
}    
    
.bordered td, .bordered th {
    border-left: none;
    border-top: 1px solid #ccc;
    padding: 5px;
    text-align: left;    
}
.bordered tbody tr:nth-child(even) td,.bordered tbody tr.even td,.bordered tbody tr:nth-child(even) th,.bordered tbody tr.even th{
    background-color:#F8E0E0;	
}
.bordered tbody tr:hover:nth-child(even) td,.bordered tbody tr:hover.even td,.bordered tbody tr:hover:nth-child(even) th,.bordered tbody tr:hover.even th{
     background: #DF0101;
}

.bordered th {
    background-color: #FB6A6A;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    text-align:left; padding: 5px 5px;
    font-size:12px;
    color:#3C3B3B;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
   
}

.bordered th:first-child {
	
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0;
}

.bordered a{
	color:#395023;
	text-decoration:none;
	padding:5px;
}
.bordered a:hover{
	padding:5px;
	background-color: #F9F5C4;
	 -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   border-radius: 10px;
}